<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="consultas" />
            <deny roles="gerencia" />
            <deny roles="reclamos" />
            <deny roles="reporteria" />
        </authorization>
    </system.web>
</configuration>